// Base styles
$background-light-color: #f8f8f8;
$background-white-color: #fff;
$text-dark-color: #17191e;
$link-dark-color: #1a8dd4;
$link-visited-dark-color: #1a8dd4;
$text-gray-color: #888;
$text-error-color: #f14;